@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
	--gray: #9b9b9b;
	--primary: #ffffff;
	--secondary: #6d6d6d;
}

* {
	font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

.hatter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background: linear-gradient(19deg, rgb(0, 0, 0), rgb(24, 26, 31));
	box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 20px;
	box-sizing: border-box;
	min-height: 100vh;
	display: block;
	width: 100%;
	height: 64px;
	position: relative;
}

.fejlec {
	background-color: rgba(12, 13, 15, 0.702);
	backdrop-filter: blur(5px);
	height: 52.5px;
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.tartalom {
	font-size: 1.625rem;
	font-weight: 325;
	display: block;
}

.inverz_tartalom {
	font-size: 1.625rem;
	font-weight: 325;
	display: block;
	color: rgba(12, 13, 15, 0.702);
	background-color: white;
	border: 1.5px solid white;
	border-radius: 4px;
	padding-inline: 4px;
	margin-left: 6.25px;
}

.doboz {
	width: 500px;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-self: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.025);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.nagy {
	font-weight: 200;
	font-size: 3rem;
	line-height: 1.1;
	margin-bottom: 75px;
}

.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-bottom: 45px;
	width: 70%;
}

.form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid var(--gray);
	outline: 0;
	font-size: 1.3rem;
	color: white;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.form__field::placeholder {
	color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
	font-size: 1.3rem;
	cursor: text;
	top: 20px;
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	font-weight: 275;
	color: var(--gray);
}

.form__field:focus {
	padding-bottom: 6px;
	font-weight: 500;
	border-width: 3px;
	border-image: linear-gradient(to right, var(--primary), var(--secondary));
	border-image-slice: 1;
}

.form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: var(--primary);
	font-weight: 500;
}

.form__field:required,
.form__field:invalid {
	box-shadow: none;
}

.checkbox_doboz {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-top: 15px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox_doboz input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-image: url(../img/no.png);
	background-size: contain;
}

.checkbox::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-image: url(../img/yes.png);
	background-size: contain;
	opacity: 0;
	transition: opacity 0.15s ease-in-out; /* Átmenet az átlátszóságra */
}

.checkbox_doboz input:checked ~ .checkbox::before {
	opacity: 1; /* Átlátszóság növelése */
}

.cb_label {
	font-weight: 300;
}

label {
	cursor: pointer;
}

button {
	background: transparent;
	border-radius: 3px;
	border: 1.5px solid white;
	color: white;
	display: inline-block;
	margin: 0.5rem 1rem;
	padding: 0.5rem 0px;
	width: 15rem;
	height: 3rem;
	font-size: 20px;
	font-weight: 250;
	margin-top: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease; /* Átmenet a háttérszín és szövegszín változására */
}

.warning {
    height: 1.5rem; /* Előre fenntartott hely a hibaüzenetnek */
    color: red;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear; /* Átmenet a láthatóság és átlátszóság változására */
    margin-top: 20px;
}

.warning.show {
    visibility: visible;
    opacity: 1;
}

